/* start global rules  */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
ul{
    list-style: none;
}
body{
    font-family: "Roboto", sans-serif; 
}
.container{
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
:root{
    --maincolor: #03b4bc;
}
.spike{
    position: relative;
}
.spike::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 30px;
    background-image: linear-gradient(135deg, white 25%, transparent 25%),
    linear-gradient(225deg, white 25%, transparent 25%);
    background-size: 30px 30px;
}
.title{
    width: fit-content;
    margin: 0 auto 30px;
    position: relative;
    padding-bottom: 15px;
    
}
 .title::before{
    content: "";
    position: absolute;
    width: 200px;
    height: 1.5px;
    border-radius: 6.5px;
    background-color: var(--maincolor);
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
.title::after{
    content: "";
    position: absolute;
    width: 13px;
    height: 13px;
    border-radius: 6.5px;
    background-color: var(--maincolor);
    bottom:-6px;
    left: 50%;
    transform: translateX(-50%);
}
.logo{
    margin-top: 20px;
    border-radius: 10px;
}
/* end global rules  */
/* start media queries */
@media (min-width:768px){
    .container{
        width: 750px;
    }
}
@media (min-width:992px){
    .container{
        width: 970px;
    }
}
@media (min-width:1200px){
    .container{
        width: 1170px;
    }
}
/* end media queries */
/* start header  */
header {
    background-color: whitesmoke;
}
header .container{
    display: flex;
    justify-content: space-between;
}
header .container ul{
    flex-basis: 65%;
    display: flex;
    justify-content: space-evenly;
}
header .container ul li{
    padding: 0 15px;
    transition: .3s;
    position: relative;
}
header .container ul li:hover{
    background-color: #eee;
}
header .container ul li::after{
    position: absolute;
    content: "";
    width: 0;
    height: 3px;
    top: 0;
    left: 0;
    background-color: var(--maincolor);
    transition: .3s;
}
header .container ul li:hover::after{
    width: 100%;
}
header .container ul li a,
header .container h4 a{
    display: block;
    text-decoration: none;
    color: var(--maincolor);
    padding: 25px 0;
    font-weight: 600;
}
@media (max-width:767px){
    header .container ul{
        display: none;
    }
}
/* end header */
/* start first  */
.first {
    background-image: url("../images/bcg1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 300px;
    position: relative;
    animation-name: move;
    animation-iteration-count: infinite;
    animation-duration: 50s;
    animation-delay: 15s;
}
@keyframes move {
    0%{
        background-image: url("../images/bcg1.jpg");
    }33%{
        background-image: url("../images/bcg2.jpg");
    }69%{
        background-image: url("../images/bcg3.jpg");
    }
}
.first::after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.352);
    z-index: 1;
}
.first .container{
    padding: 60px; 
}
.first .container h1{
    line-height: 1.6;
    font-size: 38px;
    margin: 0;
    word-spacing: 5px;
    letter-spacing: 1px;
    color: var(--maincolor);
    text-shadow: 1px 1px 2px black;
    position: relative;
    z-index: 2;
}
@media(max-width:767px){
    .first .container h1{
    line-height: 1.6;
    font-size: 30px;
    margin: 0;
    word-spacing: 2px;
    letter-spacing: 1px;
}
}
form{
    width: 80%;
    margin: 0 auto;
    background-color: white;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 1px 1px 4px #a3a0a0;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
form label{
    display: block;
    font-size: 18px;
    font-weight: bold;
}
@media  (min-width:768px) {
    form div:not(:last-of-type){
    flex: 1 1 30%;
    margin: 0 20px;
}
}
form div input{
    background-color: #eee;
    border: none;
    border: 1px solid #ddd;
    border-radius: 3px;
    padding: 8px 20px;
    width: 100%;
}
form div input:focus{
    outline: none;
    border: 1px solid var(--maincolor);
}
form .thirdInfo input{
    background-color:#c4c71e;
    border: none;
    padding: 10px;
    color: white;
    font-size: 20px;
    font-weight: 550;
    border-radius: 6px;
}
@media (max-width:767px){
    form{
        width: 100%;
        flex-direction: column;
        margin: 30px 0;
    }
    form div{
        width: 100%;
    }
    form div label{
        margin: 10px 0;
    }
    form div input {
        width: 100%;
        padding: 10px ;
    }
    form .thirdInfo input{
        margin-top: 15px;
        padding: 15px;
    }
}
@media (min-width:768px){
    form{
        margin-top: -40px;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        z-index: 3;
    }
}
/* end first  */
/* start second */
.secend {
    padding: 100px 0;
    background-color: whitesmoke;
}
.secend .container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}
.secend .container .box{
    padding: 25px 8px;
    border: 1px solid rgba(141, 141, 0, 0.737);
    border-radius: 10px;
    text-align: center;
    transition: .6s;
}
.secend .container .box:hover{
    background-color: var(--maincolor);
    color: white;
    transform: translateY(-10px);
}
.secend .container .box i{
    color: var(--maincolor);
    font-size: 50px;
    transition: 1s;
}
.secend .container .box:hover i{
    color: white;
    transform: scale(1.3);
}
.secend .container .box h3{
    margin: 15px;
}
/* end second */
/* start acceuil  */
.acceuile{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    height: 40vh;
    justify-content: center;
    align-items: center;
    background-color: var(--maincolor);
}
.acceuile video{
    max-width: 100%;
    height:auto;
}
@media (max-width:767px){
    .acceuile{
        display: none;
    }
}
@media (min-width:992px){
    .acceuile{
        height: 50vh;   
    }
}
.acceuil{
    background-image: url(../images/bcg1.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
    position: relative;
}
.acceuil i{
    position: absolute;
    color: var(--maincolor);
    font-size: 80px;
    top:50%;
    transform: translateY(-50%);
    z-index: 11;
    cursor: pointer;
}
.acceuil i:first-of-type{
    right: 5px;
}
.acceuil i:last-of-type{
    left: 5px;

}
.acceuil::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.377);
}
.acceuil .container{
    position: relative;
    height: 100%;
}
.acceuil .container .sou-cont{
  position: absolute;
  padding: 10px;
  top: 25%;  
  margin: 0 50px;
  left: 0;
  background-color: rgba(0, 0, 0, 0.446); 
  border-radius: 15px;
}
.acceuil .container .sou-cont h2{
    width: fit-content;
    margin: 15px auto 0;
    color: white;
}
.acceuil .container .sou-cont p{
    color: white;
    margin: 30px 10px;
    text-align: justify;
    font-size: 18px;
    line-height: 1.6;
    text-indent: 30px;
}
.acceuil .container .sou-cont a{
    display: block;
    color: white;
    text-decoration: none;
    background-color: var(--maincolor);
    width: fit-content;
    padding: 25px;
    border-radius: 10px;
    font-size: 20px;
    margin: 10px auto;
}
@media (max-width:767px){
    .acceuil .container .sou-cont h2{
    max-width: 100%;;
    font-size: 20px;
    text-align: center;
}
.acceuil .container .sou-cont{
    margin: 0 10px;
}
.acceuil i{
    display: none;

}
.acceuil .container .sou-cont p{
    color: white;
    font-size: 15px;
    margin-top: 20px;
    margin-bottom: 20px ;
    line-height: 1.5;
    text-indent: 30px;
}
.acceuil .container .sou-cont a{
    padding: 15px;
    border-radius: 10px;
    font-size: 20px;
    margin: 10px auto;
}

}
/* end acceuil */
/* start who-we-are */
.who-we-are{
   padding: 40px 0;
}
.who-we-are .title::before{
    width: 350px;
}
@media(max-width:767px){
    .who-we-are h2{
        font-size: 18px;
        max-width: 100%;
    }
    .who-we-are .title::before{
        width: 250px;
    }
}
.who-we-are .container{
    display: grid;
    grid-template-columns:repeat(auto-fit, minmax(250px, 1fr)) ;
    row-gap: 55px;
    column-gap: 30px;
}
.who-we-are .container .box{
    padding: 30px;
    background-color: whitesmoke;
    border-right: 2px solid var(--maincolor);
    border-left: 2px solid var(--maincolor);
    border-radius: 10px; 
    transition-duration: .3s; 
}
.who-we-are .container .box:hover{
    transform: translateY(-20px);
    border-right: 4px solid var(--maincolor);
    border-left: 4px solid var(--maincolor);
    border-radius: 20px; 
}
.who-we-are .container .box i{
    display: block;
    width: fit-content;
    margin: 0 auto;
    color: var(--maincolor);
    font-size: 45px;
    font-weight:900 ;
    transition-duration: .3s;
}
.who-we-are .container .box:hover i{
    font-size: 55px;
}
.who-we-are .container .box h3{
    width: fit-content;
    margin: 10px auto;
    color: var(--maincolor);
}
.who-we-are .container .box p{
    text-align: justify;
    text-indent: 30px;
    line-height: 1.6;
}

/* end who-we-are */
/* start testimonials */
.testimonials{
    padding-top: 50px;
    padding-bottom: 100px;
    background-color: #eee;
}
.testimonials .container > h2{
    text-align: center;
    margin-bottom: 60px;
}
.testimonials .container .cases{
    display: grid;
    grid-template-columns:repeat(auto-fit, minmax(300px, 1fr)) ;
    row-gap: 55px;
    column-gap: 30px;
}
.testimonials .container .cases .case{
    border-radius: 12px;
    background-color: white;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.266);
    position: relative;
}
.testimonials .container .cases .case h2{
    text-transform: capitalize;
    margin-bottom: 10px;
    color: var(--main-color);
}
.testimonials .container .cases .case .stars{
    padding: 10px 0;
}
.testimonials .container .cases  .case .stars i{
    color: rgb(250, 219, 43); 
}
.testimonials .container .cases .case p{
    line-height: 1.6;
    text-align: justify;
    color: rgba(0, 0, 0, 0.764);
}
.testimonials .container .cases .case p:last-of-type{
text-indent: 20px;
}
.testimonials .container .cases .case img{
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    right: -10px;
    top: -50px;
    border: 10px solid #eee;
}
/* end testimonials */
/* start members  */
.members{
   padding-top: 30px;
}
.members h2{
    margin-bottom: 60px;
}
.members .container{
    display: flex;
    flex-wrap: wrap;
    column-gap:40px;
    row-gap: 40px;
    justify-content: center;  
}
.members .container .member{
    flex-basis: 210px;
    text-align: center;
}
.members .container .member .image{
     overflow: hidden;
     border-radius: 40%;
     border: 2px solid #ddd;
}
 .members .container .member .image:hover::after{
    width: 100%;
    height: 100%;

 }
.members .container .member .image img{
    display: block;
    max-width: 100%;
    height: 240px;
    object-fit:fill;
    border-radius: 40%;
    transition-duration: .3s;
 }
.members .container .member .image img:hover{
    transform: scale(1.3) rotate(4deg);
}
.members .container .member h3{
    margin: 10px 0 0;
}
.members .container .member p{
    color: var(--maincolor);
}
/* end members */
/* start footer */
footer{
    padding-top: 60px;
    background-color:black ;
    color:white;
}
footer .container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    gap: 20px;
}
footer .container .box{
    overflow: hidden;
}
footer .container .box h3{
    font-size: 32px;
    text-transform: uppercase;
}
footer .container .box .links{
    margin: 15px 0;
}
footer .container .box .links i{
    padding: 10px;
    background-color: #666;
}
footer .container .box p{
    color: #b9b9b9;
    line-height: 2;
    text-indent: 30px;
    text-align: justify;
}
footer .container .box h2{
    text-align: center;
    margin-bottom: 15px;
}
footer .container .box iframe{
    border-radius: 4px;
    max-width: 100%;
    height: 80%;
}
footer .copyright{
    padding: 10px 0;
    background-color: var(--maincolor); 
    font-weight: bold;
    text-align: center;
}
/* end footer  */

